<footer class="footer">

    <div class="footer__arrow">
        <a title="go-to-home" href="#home"><img title="arrow-icon" class="footer__arrow--img" src="./assets/images/ico-arrow.svg" alt="icon-arrow"></a>
    </div>

    
    <div class="footer__lists">

        <nav class="footer__nav first">
            <ul class="footer__nav--list">
                <li class="footer__nav--item"> <a title="go-to-adalab" href="https://adalab.es/"> Articles </a></li>
                <li class="footer__nav--item"> <a title="go-to-adalab" href="https://adalab.es/"> Books </a></li>
                <li class="footer__nav--item"> <a title="go-to-adalab" href="https://adalab.es/"> Events </a></li>
                <li class="footer__nav--item"> <a title="go-to-adalab" href="https://adalab.es/"> Reasons </a></li>
                <li class="footer__nav--item"> <a title="go-to-adalab" href="https://adalab.es/"> Tips </a></li>
            </ul>
        </nav>

        <nav class="footer__nav second">
            <ul class="footer__nav--list">
                <li class="footer__nav--item"><a title="go-to-adalab" href="https://adalab.es/"> Twitter</a></li>
                <li class="footer__nav--item"><a title="go-to-adalab" href="https://adalab.es/"> Instagram</a></li>
                <li class="footer__nav--item"><a title="go-to-adalab" href="https://adalab.es/"> Mastodon.Social</a></li>
            </ul>
        </nav>

        <div class="footer_small">
            <small class="footer_small--year">&copy;2021</small>
            <small class="footer_small--love"> We &#128147; components</small>
        </div>


    </div>

  
</footer>
