<header class="header">
    <nav class="header__burguer">
        <a href="https://adalab.es/" target="_blank" title="go to adalab"><img src="./assets/images/ico-menu.svg" alt=""></a>
    </nav>

    <div class="header__text">
        <h1 class="header__text--title">Anonymous Proxy</h1>
        <p class="header__text--subtitle">In hac habitasse platea dictumst</p>
        <div class="header__text--row">
            <a href="#module_2"><img src="./assets/images/ico-scroll-down.svg" alt=""></a>
        </div>

    </div>

</header>