<header class="header" id="home">
    <nav class="header__burger">
         <a href="https://adalab.es/" target="_blank" title="go-to-adalab"> 
            <img title="menu-burger" class="header__burger-img" src="./assets/images/ico-menu.svg" alt="menu-icon"> 
            
            <img title="close-icon" class="header__close" src="./assets/images/close_icon.svg" alt="close_icon"> 
        </a>
       
    </nav>

    <div class="header__text">
        <h1 class="header__text--title">Anonymous Proxy</h1>
        <p class="header__text--subtitle">In hac habitasse platea dictumst</p>
        <div class="header__text--row">
            <a href="#module_2" title="go-to-module-2"><img src="./assets/images/ico-scroll-down.svg" alt=""></a>
        </div>

    </div>

</header>