.header {
  height: 100vh;

  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.589)
    ),
    url(../images/cover.jpg);

  background-size: cover;
  background-position: center;

  &__burguer {
    background-color: #0271bc;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;

    & a {
      padding: 10px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    transform: translateY(330px);
    align-items: center;
    color: white;
    line-height: 55px;
    font-family: $fontRobotoSlab;

    &--title {
      font-size: 70px;
      text-transform: uppercase;
      text-align: center;
      width: 500px;
      line-height: 80px;
    }

    &--subtitle {
      font-size: 18px;
      font-weight: 100;
      margin-bottom: 30px;
    }

    &--row {
      width: 45px;
      height: 45px;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }
  }
}
