.header {
  height: 100vh;

  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.589)
    ),
    url(../images/cover.jpg);

  background-size: cover;
  background-position: center;

  &__close {
    display: none;
    width: 20px;
  }

  &__burger {
    background-color: #0271bc;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: $colorOrange;

      .header__burger-img {
        display: none;
      }

      .header__close {
        display: flex;
      }
    }

    & a {
      padding: 10px;
    }
  }

  &__close {
    display: none;
    width: 19px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    color: white;
    line-height: 55px;
    font-family: $fontRobotoSlab;

    @media (min-width: 1024px) {
      height: 100vh;
      padding-bottom: 20px;
    }

    &--title {
      font-size: 3em;
      text-transform: uppercase;
      width: 500px;
      text-align: center;
      line-height: 80px;

      @media (min-width: 768px) {
        font-size: 4em;
      }
    }

    &--subtitle {
      font-size: 1.15em;
      font-weight: 100;
      margin-bottom: 30px;
    }

    &--row {
      width: 45px;
      height: 45px;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      box-shadow: rgb(0, 0, 0) -1px 1px 7px;

      & img:hover {
        transform: rotateX(180deg);
      }
    }
  }
}
