.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  &_sect1 {
    padding: 39px;
    padding-top: 30px;
    padding-bottom: 0px;

    &--article {
      line-height: 35px;

      @media (min-width: 1024px) {
        width: 700px;
      }

      .small {
        color: $colorLightBlue;
        font-family: $fontRobotoReg;
      }

      .article-title {
        font-family: $fontRobotoSlab;
        width: 250px;
        margin-bottom: 15px;

        @media (min-width: 768px) {
          width: 100%;
        }
      }

      .article-text {
        color: $colorgrey;
        font-family: $fontRobotoReg;
      }

      .sect1-button {
        margin-top: 25px;
        margin-bottom: 45px;
        width: 76px;
        height: 45px;
        background-color: white;
        border-radius: 2em;
        border: solid 3px $colorOrange;
        font-family: $fontRobotoReg;
        transition: background-color 0.5s linear;

        &:hover {
          background-color: $colorOrange;
        }

        & a {
          text-decoration: none;
          color: $colorOrange;
          padding: 20px;
          font-size: 20px;

          &:hover {
            color: white;
          }
        }
      }
    }
  }

  &_sect2 {
    background-color: $colorIceBlue;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    row-gap: 45px;
    line-height: 30px;
    justify-items: center;
    align-items: center;
    padding-bottom: 60px;
    width: 100%;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: repeat(3, 1fr);
      margin-bottom: 0px;
      padding-left: 20px;
      padding-right: 20px;
    }

    &--title {
      text-align: center;
      grid-row: 1;
      padding-top: 30px;
      font-family: $fontRobotoSlab;
      font-size: 2em;
      @media (min-width: 768px) {
        grid-column: 2;
        width: 400px;
      }
    }

    &--article {
      text-align: center;
      width: 200px;

      @media (min-width: 1024px) {
        width: 250px;
      }

      &.one {
        grid-row: 2;

        @media (min-width: 768px) {
          grid-column: 1;
        }
      }
      &.two {
        grid-row: 3;
        @media (min-width: 768px) {
          grid-column: 2;
          grid-row: 2;
        }
      }
      &.t3 {
        grid-row: 4;
        padding-bottom: 20px;

        @media (min-width: 768px) {
          grid-column: 3;
          grid-row: 2;
        }
      }
    }

    .sect2_article-title {
      font-family: $fontRobotoSlab;
      font-size: 1.4em;
      margin-bottom: 10px;
    }
    .sect2_article--text {
      font-family: $fontRobotoReg;
      font-size: 1.2rem;
    }
  }

  .sect2-button {
    width: 170px;
    height: 45px;
    grid-row: 5;
    background-color: #f26002;
    border-radius: 2em;
    border: none;
    font-family: $fontRobotoReg;
    font-size: 18px;
    transition: background-color 70ms linear, border 90ms linear;

    @media (min-width: 768px) {
      width: 180px;
      grid-column: 2;
      grid-row: 3;
    }

    &:hover {
      background-color: white;
      border: 3px solid $colorOrange;
    }

    & a {
      color: white;
      text-decoration: none;
      padding: 20px;
      transition: color;

      &:hover {
        color: $colorOrange;
      }
    }
  }
}
